langdetect==1.0.8
nltk==3.5
numpy==1.19.2
eli5==0.11.0
seaborn==0.11.1
stop_words==2018.7.23
fuzzywuzzy==0.18.0
requests==2.25.1
torch==1.7.1
spacy==3.0.1
plotly==4.14.3
pickle5==0.0.11
tqdm==4.56.2
symspellpy==6.7.0
pandas==1.2.2
joblib==1.0.1
regex==2020.11.13
googletrans==3.0.0
scipy==1.6.0
en_core_web_sm==3.0.0
language_detector==5.0.2
transformers==4.3.2
matplotlib==3.3.4
bubble_plot==0.3.4
easynmt==1.0.2
gensim==3.8.3
holoviews==1.14.1
panel==0.10.3
Pillow==8.1.0
scikit_learn==0.24.1
umap==0.1.1
wordcloud==1.8.1
sentence_transformers
whoosh
