fuzzywuzzy==0.18.0
transformers==4.3.2
pandas==1.2.2
nltk==3.5
seaborn==0.11.1
language_detector==5.0.2
regex==2020.11.13
googletrans==3.0.0
pickle5==0.0.11
scipy==1.6.0
stop_words==2018.7.23
tqdm==4.56.2
joblib==1.0.1
plotly==4.14.3
spacy==3.0.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
requests==2.25.1
matplotlib==3.3.4
symspellpy==6.7.0
numpy==1.19.2
eli5==0.11.0
langdetect==1.0.8
bubble_plot==0.3.4
easynmt==1.0.2
gensim==3.8.3
holoviews==1.14.1
panel==0.10.3
Pillow==8.1.0
scikit_learn==0.24.1
sentence_transformers==0.4.1.2
umap==0.1.1
wordcloud==1.8.1
torch==1.7.1
